@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Festive&family=IBM+Plex+Sans+Thai+Looped:wght@100&family=Kanit:wght@200&family=Karla:wght@300&family=Lato:wght@300;400;700&family=Montserrat:wght@200&family=Nunito:wght@200;300&family=Patrick+Hand&family=Quicksand&family=Raleway:wght@300&family=Roboto:wght@300&family=Rowdies:wght@300&family=Rubik:wght@300;400&family=Shippori+Antique+B1&family=Source+Sans+Pro:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
}
.common{
    max-width: 1500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/* header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 20px 20px;
    background-color: aqua;
}
header > a{
    color: black;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-details{
    display: flex;
    gap: 30px;
}
.user-details a{
    color: black;
}
.show-error-container p{
    font-size: 20px;
    color: red;
}
.show-error-container{
    height: 0;
}
.delete-btn{
    height: 30px;
    display: flex;
    justify-content: center;
}
.delete-btn button{
    font-size: 18px;
    background-color: yellow;
    width: 100px;
    border: none;
    /* margin-bottom: 30px; */
    height: 30px;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 40px;
    /* background-color: whitesmoke; */
    background-color: aqua;
    padding-bottom: 20px;
}
.follow{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer-items{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.para{
    font-size: 30px;
    text-align: center;
}
main{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.photo-display img{
    width: 300px;
    height: 400px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.form-items{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 30px;
}
input{
    font-size: 25px;
    padding-left: 5px;
}
textarea{
    height: 40px;
    width: 300px;
    font-size: 20px;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.common-input{
    width: 300px;
    height: 40px;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
input[type='file']::-webkit-file-upload-button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: none;
}
button[type='submit']{
    font-size: 30px;
    width: 200px;
    border: none;
    margin-bottom: 30px;
    height: 40px;
}
input[type='submit']:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.space{
    display: flex;
    gap: 30px;
}


@media (max-width: 680px) { 
    
    .common{
        position: relative;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    
    .show-and-hide{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        font-size: 30px;
        align-items: center;
        background-color: #f1f7f2;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: absolute;
        width: 100vw;
    }
    .para{
        font-size: 20px;
        padding: 0 10px;
    }
    .show-and-hide a{
        color: black;
    }
    .form-items{
        flex-direction: column;
    }
}
